In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('car driving risk analysis.csv')

In [3]:
df

    speed  risk
0     200    95
1      90    20
2     300    98
3     110    60
4     240    72
5     115    10
6      50     7
7     230    85
8     190    45
9     260    91
10    290    82
11    185    59
12    310    93
13     95    18
14     30     2

In [4]:
df.isnull().sum()

speed    0
risk     0
dtype: int64

In [5]:
x = df[['speed']]
y = df['risk']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size = .40, random_state=1)

In [9]:
xtrain

    speed
1      90
13     95
0     200
14     30
9     260
8     190
12    310
11    185
5     115

In [10]:
xtest

    speed
3     110
7     230
6      50
2     300
10    290
4     240

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
reg = LinearRegression()

In [13]:
reg. fit(xtrain, ytrain)

LinearRegression()

In [18]:
yPred = reg.predict(xtest)

In [19]:
yPred

array([ 27.15301215,  73.82259334,   3.81822156, 101.04651569,
        97.15738393,  77.7117251 ])

In [20]:
ytest

3     60
7     85
6      7
2     98
10    82
4     72
Name: risk, dtype: int64

In [21]:
reg.predict([[298]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([100.26868934])

In [22]:
from sklearn.metrics import r2_score

In [23]:
score = r2_score(ytest, yPred)

In [24]:
score

0.7133824900141748